

input,textarea{
    width: 40%;
    border: 2px solid gray;
    padding: 5px;
}
button{
    border: 2px solid gray;
    width: 20%;
    color: black;
    font-size: larger;
    padding: 10px;
    background-color: gainsboro;
    cursor:pointer;
}
label{
    font-size: larger;
    
}